body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.panel-body .toolbar{
	height: 25px;
	padding-right: 10px;
}
.panel-body .toolbar  a{
	margin: 5px;
}
form>.row{
	margin-left: 0px;
	margin-right: 0px;
}
.panel-heading:hover{
	cursor: pointer;
}